.registration-form {
  width:200px;
  height:300px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  position: absolute;
  left: 45%;
  top: 35%;
  margin-top: -100px;
  margin-left: -75px; 
  text-align: center;
}

.registration-form > h2{
  color: rgb(122, 180, 235);
  margin-left: -5px;
}

.registration-form .button {
  width: 75px;
  height: 20px;
  padding: 0;
  color: #679ef0;
  font-size:16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  border: none;
  background-color: inherit;
  margin-left: 10px;
  position: absolute;
  left: 62px;
  bottom: 5px;
}

.registration-form .button:hover {
  cursor: pointer;
  color:red;
  background-color: inherit;
}

.registration-form .text {
  height:25px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
}

.registration-form .select {
  height:25px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  color:#717274;
  background-color:inherit;
  clear: both;
}

.link{
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 20px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color:white;
  background-color: #679ef0;
  float: left;
}

.link:hover{
  background-color: rgb(5, 2, 158);
}

.active{
  background-color: rgb(5, 2, 158);
}

.logoutButton{
  width: 100px;
  height: 35px;
  border-radius: 20px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color:white;
  background-color: #ff0a60;
  border: none;
  float: right;
  font-size:16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.logoutButton:hover{
  color: #ff0a60;
  border: 1px solid#ff0a60;
  background-color: white;
  cursor: pointer;
}

.top{
  background-color: #00276152;
  height: 45px;
  position: fixed;
  left:0;
  top:0;
  right: 0;
  z-index: 1;
}

.select > option{
  border-radius: 5px;
}

.login-form {
  width: 180px;
  height: 230px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  position: absolute;
  left: 45%;
  top: 35%;
  margin-top: -100px;
  margin-left: -75px; 
}

.text {
  margin: 7px;
  height:25px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
}

.login-form .button {
  width: 60px;
  height: 19px;
  padding: 0;
  margin-left: 60px;
  color: #679ef0;
  margin-top: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  border: none;
  background-color: inherit;
}

.login-form .button:hover {
  background-color: inherit;
  cursor: pointer;
  color:red;
}

.label {
  margin-left: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.caption {
  margin-top: 10px;
  margin-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #679ef0;
}

.programs {
  position: absolute;
  left:50%;
  margin-top:50px;
  margin-left:-350px;
}

.programId {
  width: 50px;
}

.programName {
  width: 200px;
  max-width: 200px;
  height: 30px;
  overflow-x: auto;
}

div > .button {
  position: fixed;
  top: 50px;
  right: 450px;
}

.programs caption {
  margin-left: -438px;
  margin-bottom: 10px;
  font-size: 20px;
}

.captionTable {
  margin-left: -485px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

.hidenId {
  display: none;
}

.edit-form {
  border: 1px solid black;
  width:400px;
  height:250px;
  display: none;  
}

.displayBlock{
  border: 1px solid grey;
  border-radius: 5px;
  width:230px;
  height:220px;
  display: block;
  position: fixed;
  left: 25%;
  top:12%;
  margin-left: -255px;
  background-color: white;
  z-index: 1;
  text-align: center;
}

.displayBlock input{
  margin: 10px;
  clear: both;
  width: 195px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.displayBlock button {
  margin-top: 30px;
  width: 105px;
}

.hiddenBlock {
  display: none;
}

.create-form {
  border: 1px solid black;
  width:350px;
  height:150px;
  display: none;
  
}

.programsToAssign{
  position: fixed;
  left: 1050px;
  top: 50px;
  width:350px;
  height: 250px;
  border: 1px solid rgb(202, 202, 202);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: auto;
  display: block;
}

.programsToAssign > table {
  width: 100%;
}

.button {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color:white;
  background-color: #679ef0;
  border:none;
  font-size:12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin-bottom:20px;
}

 .button:hover {
  background-color: #0057da;
  cursor: pointer;
}

.error {
  border-color: red;
}

.athletes {
  width: 600px;
  float: left;
  position: absolute;
  left:50%;
  top:70px;
  margin-left: -300px;
}

.email{
  position: fixed;
  font-size: 18px;
  top: -8px;
  right: 120px;
}

.myPrograms {
  width: auto;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -219px;
}

.noPrograms {
  margin-top: 55px;
  margin-left: 500px;
}
