.link{
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color:white;
    background-color: #679ef0;
}

.link:hover{
    background-color: rgb(5, 2, 158);
}

.logoutButton{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color:white;
    background-color: #ff0a60;
    border:none;
    float: right;
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.logoutButton:hover{
    color: #ff0a60;
    border: 1px solid#ff0a60;
    background-color: inherit;
    cursor: pointer;
}

.myPrograms {
    margin-left: 400px;
    width: 500px;
}
